{% extends 'base/jbhome.html' %}

{% block page_title %}
{% endblock %}
<body>

{% block content %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">    <h2><strong>{{ script }} Results</strong></h2></div>
  <div class="panel-body">
    <p><h2><strong>Total Styles Processed using {{ script|slice:"-15:" }}: {{ styles|wordcount }}</strong></h2></p>
  </div>

<table class="table table-bordered table-striped" style="width: 250px;">
{% if results %}
{% for result in results %}
    <tr>
    <a href="{{ result }}">
    <td>{{ result }}</td>
    </a>
    </tr>
{% endfor %}
{% endif %}
<p>-------</p>
{% if styles %}
{% for style in styles %}
    <tr>
    <a href="http://cdn.is.bluefly.com/mgen/Bluefly/prodImage.ms?productCode={{ style }}&width=251&height=300">
    <td><img src="http://cdn.is.bluefly.com/mgen/Bluefly/prodImage.ms?productCode={{ style }}&width=251&height=300" style="width: 150" class="img-rounded"></td></a>
    <a href="http://cdn.is.bluefly.com/mgen/Bluefly/eqzoom85.ms?productCode={{ style }}&width=1800&height=2160">
    <td><span class="glyphicon glyphicon-thumbs-up"></span><strong>{{ style }}</strong> Was Processed</td></a>
    </tr>

{% endfor %}
{% endif %}
</table>
</div>
{% endblock %}
</body>
</html>