{% extends 'base/jbhome.html' %}

{% block page_title %}
    <h2><strong>Total Styles Processed using {{ script }}: {{ styles|wordcount }}</strong></h2>
{% endblock %}
<body>

{% block content %}

<table class="table-bordered table-striped" style="width: 250px;">
{% if results %}
{% for result in results %}

    <tr>
    <a href="{{ result }}">
    <td>{{ result }}</td>
    </a>
    </tr>


{% endfor %}
{% endif %}

{% for style in styles %}
    <tr>
    <td>{{ style }}</td>
    </tr>

{% endfor %}
</table>

{% endblock %}
</body>
</html>