*.git/
*.pyc
*_DS_Store
*.idea
*.project

static/apple-touch-icon-114x114-precomposed.png
static/apple-touch-icon-144x144-precomposed.png
static/apple-touch-icon-57x57-precomposed.png
static/apple-touch-icon-72x72-precomposed.png
static/apple-touch-icon-precomposed.png
static/apple-touch-icon.png
static/crossdomain.xml
static/favicon.ico
static/humans.txt
static/robots.txt
static/ajaxsearch/css/site_stylesheet.css
static/ajaxsearch/css/style.css
static/css/app.css
static/css/bootstrap-overwrite.css
static/css/bootstrap-theme.css
static/css/bootstrap-theme.min.css
static/css/bootstrap.css
static/css/bootstrap.min.css
static/css/datepicker.css
static/css/h5bp.css
static/css/justified-nav.css
static/css/navbar-fixed-top.css
static/css/navbar-static-top.css
static/css/navbar.css
static/css/signin.css
static/css/style.css
static/css/theming.css
static/css/redmond/jquery-ui-1.10.4.custom.css
static/css/redmond/jquery-ui-1.10.4.custom.min.css
static/css/redmond/images/animated-overlay.gif
static/css/themes/theme.css
static/fonts/glyphicons-halflings-regular.eot
static/fonts/glyphicons-halflings-regular.svg
static/fonts/glyphicons-halflings-regular.ttf
static/fonts/glyphicons-halflings-regular.woff
static/img/calendar.gif
static/img/glyphicons-halflings-white.png
static/img/glyphicons-halflings.png
static/js/ajaxfuncs.js
static/js/bootstrap-datepicker.js
static/js/bootstrap.js
static/js/common.js
static/js/jquery-1.10.2.js
static/js/jquery-ui-1.10.4.custom.js
static/js/main.js
static/js/plugins.js
static/js/libs/bootstrap.min.js
static/js/libs/jquery-1.9.1.min.js
static/js/libs/jquery-ui-1.10.4.custom.min.js
static/js/libs/less-1.2.1.min.js
static/js/libs/modernizr-2.6.2-respond-1.1.0.min.js
static/less/datepicker.less
static/uploader/css/style.css
static/uploader/js/uploader.js
static/widgets/datepicker/alt-field.html
static/widgets/datepicker/animation.html
static/widgets/datepicker/buttonbar.html
static/widgets/datepicker/date-formats.html
static/widgets/datepicker/date-range.html
static/widgets/datepicker/default.html
static/widgets/datepicker/dropdown-month-year.html
static/widgets/datepicker/icon-trigger.html
static/widgets/datepicker/index.html
static/widgets/datepicker/inline.html
static/widgets/datepicker/localization.html
static/widgets/datepicker/min-max.html
static/widgets/datepicker/multiple-calendars.html
static/widgets/datepicker/other-months.html
static/widgets/datepicker/show-week.html
static/widgets/datepicker/images/calendar.gif
templates/imgadjust/base/example.html
var/static/apple-touch-icon-114x114-precomposed.png
var/static/apple-touch-icon-144x144-precomposed.png
var/static/apple-touch-icon-57x57-precomposed.png
var/static/apple-touch-icon-72x72-precomposed.png
var/static/apple-touch-icon-precomposed.png
var/static/apple-touch-icon.png
var/static/crossdomain.xml
var/static/favicon.ico
var/static/humans.txt
var/static/robots.txt
var/static/admin/css/admin-inlines.css
var/static/admin/css/base.css
var/static/admin/css/changelists.css
var/static/admin/css/dashboard.css
var/static/admin/css/forms.css
var/static/admin/css/ie.css
var/static/admin/css/login.css
var/static/admin/css/overrides.css
var/static/admin/css/rtl.css
var/static/admin/css/widgets.css
var/static/admin/img/changelist-bg.gif
var/static/admin/img/changelist-bg_rtl.gif
var/static/admin/img/chooser-bg.gif
var/static/admin/img/chooser_stacked-bg.gif
var/static/admin/img/default-bg-reverse.gif
var/static/admin/img/default-bg.gif
var/static/admin/img/deleted-overlay.gif
var/static/admin/img/icon-no.gif
var/static/admin/img/icon-unknown.gif
var/static/admin/img/icon-yes.gif
var/static/admin/img/icon_addlink.gif
var/static/admin/img/icon_alert.gif
var/static/admin/img/icon_calendar.gif
var/static/admin/img/icon_changelink.gif
var/static/admin/img/icon_clock.gif
var/static/admin/img/icon_deletelink.gif
var/static/admin/img/icon_error.gif
var/static/admin/img/icon_searchbox.png
var/static/admin/img/icon_success.gif
var/static/admin/img/inline-delete-8bit.png
var/static/admin/img/inline-delete.png
var/static/admin/img/inline-restore-8bit.png
var/static/admin/img/inline-restore.png
var/static/admin/img/inline-splitter-bg.gif
var/static/admin/img/nav-bg-grabber.gif
var/static/admin/img/nav-bg-reverse.gif
var/static/admin/img/nav-bg-selected.gif
var/static/admin/img/nav-bg.gif
var/static/admin/img/selector-icons.gif
var/static/admin/img/selector-search.gif
var/static/admin/img/sorting-icons.gif
var/static/admin/img/tool-left.gif
var/static/admin/img/tool-left_over.gif
var/static/admin/img/tool-right.gif
var/static/admin/img/tool-right_over.gif
var/static/admin/img/tooltag-add.gif
var/static/admin/img/tooltag-add.png
var/static/admin/img/tooltag-add_over.gif
var/static/admin/img/tooltag-arrowright.gif
var/static/admin/img/tooltag-arrowright.png
var/static/admin/img/tooltag-arrowright_over.gif
var/static/admin/img/gis/move_vertex_off.png
var/static/admin/img/gis/move_vertex_on.png
var/static/admin/js/actions.js
var/static/admin/js/actions.min.js
var/static/admin/js/calendar.js
var/static/admin/js/collapse.js
var/static/admin/js/collapse.min.js
var/static/admin/js/core.js
var/static/admin/js/generic-lookup.js
var/static/admin/js/inlines.js
var/static/admin/js/inlines.min.js
var/static/admin/js/jquery-1.9.1.min.js
var/static/admin/js/jquery-migrate-1.2.1.min.js
var/static/admin/js/jquery.init.js
var/static/admin/js/jquery.js
var/static/admin/js/jquery.min.js
var/static/admin/js/jquery.sortable.js
var/static/admin/js/LICENSE-JQUERY.txt
var/static/admin/js/prepopulate.js
var/static/admin/js/prepopulate.min.js
var/static/admin/js/SelectBox.js
var/static/admin/js/SelectFilter2.js
var/static/admin/js/timeparse.js
var/static/admin/js/urlify.js
var/static/admin/js/admin/DateTimeShortcuts.js
var/static/admin/js/admin/RelatedObjectLookups.js
var/static/ajax_select/css/ajax_select.css
var/static/ajax_select/images/loading-indicator.gif
var/static/ajax_select/js/ajax_select.js
var/static/ajax_select/js/bootstrap.js
var/static/ajaxsearch/css/site_stylesheet.css
var/static/ajaxsearch/css/style.css
var/static/bootstrap/css/bootstrap-responsive.css
var/static/bootstrap/css/bootstrap-responsive.min.css
var/static/bootstrap/css/bootstrap.css
var/static/bootstrap/css/bootstrap.min.css
var/static/bootstrap/img/glyphicons-halflings-white.png
var/static/bootstrap/img/glyphicons-halflings.png
var/static/bootstrap/js/bootstrap.js
var/static/bootstrap/js/bootstrap.min.js
var/static/bootstrap_toolkit/js/init_datepicker.js
var/static/css/app.css
var/static/css/bootstrap-overwrite.css
var/static/css/bootstrap-theme.css
var/static/css/bootstrap-theme.min.css
var/static/css/bootstrap.css
var/static/css/bootstrap.min.css
var/static/css/datepicker.css
var/static/css/h5bp.css
var/static/css/jquery.multiselect.css
var/static/css/jquery.multiselect.filter.css
var/static/css/justified-nav.css
var/static/css/navbar-fixed-top.css
var/static/css/navbar-static-top.css
var/static/css/navbar.css
var/static/css/prettify.css
var/static/css/signin.css
var/static/css/style.css
var/static/css/theming.css
var/static/css/redmond/jquery-ui-1.10.4.custom.css
var/static/css/redmond/jquery-ui-1.10.4.custom.min.css
var/static/css/redmond/images/animated-overlay.gif
var/static/css/themes/theme.css
var/static/datepicker/css/datepicker.css
var/static/datepicker/js/bootstrap-datepicker.js
var/static/datepicker/js/locales/bootstrap-datepicker.ar.js
var/static/datepicker/js/locales/bootstrap-datepicker.bg.js
var/static/datepicker/js/locales/bootstrap-datepicker.ca.js
var/static/datepicker/js/locales/bootstrap-datepicker.cs.js
var/static/datepicker/js/locales/bootstrap-datepicker.da.js
var/static/datepicker/js/locales/bootstrap-datepicker.de.js
var/static/datepicker/js/locales/bootstrap-datepicker.el.js
var/static/datepicker/js/locales/bootstrap-datepicker.es.js
var/static/datepicker/js/locales/bootstrap-datepicker.et.js
var/static/datepicker/js/locales/bootstrap-datepicker.fi.js
var/static/datepicker/js/locales/bootstrap-datepicker.fr.js
var/static/datepicker/js/locales/bootstrap-datepicker.he.js
var/static/datepicker/js/locales/bootstrap-datepicker.hr.js
var/static/datepicker/js/locales/bootstrap-datepicker.hu.js
var/static/datepicker/js/locales/bootstrap-datepicker.id.js
var/static/datepicker/js/locales/bootstrap-datepicker.is.js
var/static/datepicker/js/locales/bootstrap-datepicker.it.js
var/static/datepicker/js/locales/bootstrap-datepicker.ja.js
var/static/datepicker/js/locales/bootstrap-datepicker.kr.js
var/static/datepicker/js/locales/bootstrap-datepicker.lt.js
var/static/datepicker/js/locales/bootstrap-datepicker.lv.js
var/static/datepicker/js/locales/bootstrap-datepicker.mk.js
var/static/datepicker/js/locales/bootstrap-datepicker.ms.js
var/static/datepicker/js/locales/bootstrap-datepicker.nb.js
var/static/datepicker/js/locales/bootstrap-datepicker.nl.js
var/static/datepicker/js/locales/bootstrap-datepicker.pl.js
var/static/datepicker/js/locales/bootstrap-datepicker.pt-BR.js
var/static/datepicker/js/locales/bootstrap-datepicker.pt.js
var/static/datepicker/js/locales/bootstrap-datepicker.ro.js
var/static/datepicker/js/locales/bootstrap-datepicker.rs-latin.js
var/static/datepicker/js/locales/bootstrap-datepicker.rs.js
var/static/datepicker/js/locales/bootstrap-datepicker.ru.js
var/static/datepicker/js/locales/bootstrap-datepicker.sk.js
var/static/datepicker/js/locales/bootstrap-datepicker.sl.js
var/static/datepicker/js/locales/bootstrap-datepicker.sq.js
var/static/datepicker/js/locales/bootstrap-datepicker.sv.js
var/static/datepicker/js/locales/bootstrap-datepicker.sw.js
var/static/datepicker/js/locales/bootstrap-datepicker.th.js
var/static/datepicker/js/locales/bootstrap-datepicker.tr.js
var/static/datepicker/js/locales/bootstrap-datepicker.uk.js
var/static/datepicker/js/locales/bootstrap-datepicker.zh-CN.js
var/static/datepicker/js/locales/bootstrap-datepicker.zh-TW.js
var/static/debug_toolbar/css/toolbar.css
var/static/debug_toolbar/img/ajax-loader.gif
var/static/debug_toolbar/img/back.png
var/static/debug_toolbar/img/back_hover.png
var/static/debug_toolbar/img/close.png
var/static/debug_toolbar/img/close_hover.png
var/static/debug_toolbar/img/djdt_vertical.png
var/static/debug_toolbar/img/indicator.png
var/static/debug_toolbar/js/toolbar.js
var/static/debug_toolbar/js/toolbar.profiling.js
var/static/debug_toolbar/js/toolbar.sql.js
var/static/debug_toolbar/js/toolbar.template.js
var/static/debug_toolbar/js/toolbar.timer.js
var/static/debug_toolbar_htmltidy/Makefile
var/static/debug_toolbar_htmltidy/css/htmltidypanel.css
var/static/debug_toolbar_htmltidy/css/htmltidypanel.min.css
var/static/debug_toolbar_htmltidy/js/htmltidypanel.js
var/static/debug_toolbar_htmltidy/js/htmltidypanel.min.js
var/static/django_tables2/themes/paleblue/css/screen.css
var/static/django_tables2/themes/paleblue/img/arrow-active-down.png
var/static/django_tables2/themes/paleblue/img/arrow-active-up.png
var/static/django_tables2/themes/paleblue/img/arrow-inactive-down.png
var/static/django_tables2/themes/paleblue/img/arrow-inactive-up.png
var/static/django_tables2/themes/paleblue/img/false.gif
var/static/django_tables2/themes/paleblue/img/header-bg.png
var/static/django_tables2/themes/paleblue/img/missing.png
var/static/django_tables2/themes/paleblue/img/pagination-bg.gif
var/static/django_tables2/themes/paleblue/img/true.gif
var/static/djcelery/style.css
var/static/floppyforms/js/MapWidget.js
var/static/fonts/glyphicons-halflings-regular.eot
var/static/fonts/glyphicons-halflings-regular.svg
var/static/fonts/glyphicons-halflings-regular.ttf
var/static/fonts/glyphicons-halflings-regular.woff
var/static/ico/apple-touch-icon-114x114-precomposed.png
var/static/ico/apple-touch-icon-144x144-precomposed.png
var/static/ico/apple-touch-icon-57x57-precomposed.png
var/static/ico/apple-touch-icon-72x72-precomposed.png
var/static/ico/apple-touch-icon-precomposed.png
var/static/ico/apple-touch-icon.png
var/static/ico/crossdomain.xml
var/static/ico/favicon.ico
var/static/ico/favicondrk.ico
var/static/ico/faviconlt.ico
var/static/img/calendar.gif
var/static/img/glyphicons-halflings-white.png
var/static/img/glyphicons-halflings.png
var/static/js/ajaxfuncs.js
var/static/js/bootstrap-datepicker.js
var/static/js/bootstrap.js
var/static/js/common.js
var/static/js/home.js
var/static/js/imgadjust.js
var/static/js/jquery-1.10.2.js
var/static/js/jquery-ui-1.10.4.custom.js
var/static/js/jquery.multiselect.filter.js
var/static/js/jquery.multiselect.js
var/static/js/main.js
var/static/js/plugins.js
var/static/js/prettify.js
var/static/js/libs/bootstrap.min.js
var/static/js/libs/jquery-1.9.1.min.js
var/static/js/libs/jquery-ui-1.10.4.custom.min.js
var/static/js/libs/less-1.2.1.min.js
var/static/js/libs/modernizr-2.6.2-respond-1.1.0.min.js
var/static/less/datepicker.less
var/static/rest_framework/css/bootstrap-tweaks.css
var/static/rest_framework/css/bootstrap.min.css
var/static/rest_framework/css/default.css
var/static/rest_framework/css/prettify.css
var/static/rest_framework/img/glyphicons-halflings-white.png
var/static/rest_framework/img/glyphicons-halflings.png
var/static/rest_framework/img/grid.png
var/static/rest_framework/js/bootstrap.min.js
var/static/rest_framework/js/default.js
var/static/rest_framework/js/jquery-1.8.1-min.js
var/static/rest_framework/js/prettify-min.js
var/static/widgets/datepicker/alt-field.html
var/static/widgets/datepicker/animation.html
var/static/widgets/datepicker/buttonbar.html
var/static/widgets/datepicker/date-formats.html
var/static/widgets/datepicker/date-range.html
var/static/widgets/datepicker/default.html
var/static/widgets/datepicker/dropdown-month-year.html
var/static/widgets/datepicker/icon-trigger.html
var/static/widgets/datepicker/index.html
var/static/widgets/datepicker/inline.html
var/static/widgets/datepicker/localization.html
var/static/widgets/datepicker/min-max.html
var/static/widgets/datepicker/multiple-calendars.html
var/static/widgets/datepicker/other-months.html
var/static/widgets/datepicker/show-week.html
var/static/widgets/datepicker/images/calendar.gif
