{% extends '_layouts/base.html' %} {# #}
{% block page_title %}
Product Image Adjustments
{% endblock %} 
{% comment %}
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<style type="text/css">
  body {
    padding-top: 50px;
    padding-bottom: 20px;
  }
</style>
{% endcomment %}
{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}js/imgadjust.js"></script>
<div class="container">
  
  <div class="row">
    <div class="col-md-5 col-md-pull-1">
      <form enctype="multipart/form-data" method="GET" id="formSearchStyle" name="formSearchStyle" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="colorstyle" id="inputColorstyle" placeholder="Search Colorstyle">
          <input type="number" class="form-control" name="alt" id="inputAlt" placeholder="Search ImgNumber">
          <input type="file" class="form-control" name="file" id="inputFile" placeholder="LoadFile">
          <textarea rows="4" cols="10" class="form-control" name="inputColorstyleList" id="inputColorstyleList" placeholder="Paste Multi-Delimited"></textarea>
{#            <button class="btn btn-danger btn-link" id="search">search</button>#}
{#          <p></p>#}
{#        <button class="btn btn-default btn-sm" id="submitSearchStyle"><span class="glyphicon glyphicon-search"></span> SearchStyles</button>#}
        <button class="btn btn-warning btn-sm" id="submit" type="submit" name="submit"><span class="glyphicon glyphicon-search"></span> Submit Form</button>
        </div>
      </form><hr><p><strong>PTagClick</strong></p>
    </div>
  </div>

    <form id="getSupplierJson" name="getSupplierJson" method="GET" target='hiddeniframe'>
    <iframe name='hiddeniframe' id='iframeSupplierData'  scrolling='no' frameborder='0' style='display:none'></iframe>
        <input type="text" class="form-control" name="iframeColorstyle" id="iframeColorstyle" placeholder="LoadFile">
        <button id="submitSupplierIframe" name="submit" type="submit"></button>
        <table>
            <tbody id="tableVendorName"></tbody>
        </table>
    </form>

    <div id="resultsSearch"></div>
    <div id="metainfo"></div>

    <ul id="resultsBasicText">
     {% for result in locals.items %}
     <li>Result{{ forloop.counter }}: {{ result }}, {{ result.colorstyle }}, {{ result.image_url }}, {{ result.vendor_name }}</li>
     {% endfor %}
    </ul>


{% comment %}{% if images %}{% endcomment %}
{#{% regroup images|dictsort:"file_name" by image as images %}#}

{% for image in images %}

  <div class="row">
    
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8 col-md-pull-1">
          <label for="action" class="control-label input-group">Action</label>
          <div class="btn-group btn-group-xs" data-toggle="buttons">
            <label class="btn active btn-primary">
              <input type="radio" name="action" value="keep">Keep Image</label>
            <label class="btn btn-primary">
              <input type="radio" name="action" value="switch">Switch Image Slot</label>
            <label class="btn btn-primary">
              <input type="radio" name="action" value="replace">Replace Image</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-2">
        <h3><i class="fa fa-star text-center">&nbsp;</i>Primary</h3>
        <a href="http://cdn.is.bluefly.com/mgen/Bluefly/prodImage.ms?productCode={{ q }}&width=251&height=300" > <img src="http://cdn.is.bluefly.com/mgen/Bluefly/prodImage.ms?productCode={{ q }}&width=251&height=300" class="img-rounded" width="120" height="144" alt="Primary">
        </a><p></p>
            <label for="img-location"></label>
            <select class="form-control" name="img1" id="img-location">
            <option selected="selected">Primary Image</option>
            <option>Alt-1/Back</option>
            <option>Alt-2/Side</option>
            <option>Alt-3</option>
            <option>Alt-4</option>
            <option>Alt-5</option>
          </select>
        <p><a class="btn btn-primary" href="#">Submit Changes &raquo;</a></p>
      </div>

    {% if image.alt == 2 %}
      <div class="col-md-2">
        <h3 class="text-center">Alt-1/Back</h3>
        <a href="http://cdn.is.bluefly.com/mgen/Bluefly/altimage.ms?img={{ image.colorstyle }}_{{ image.alt0 }}.jpg&w=120&h=144">
            <img src="{{ image.get_absolute_url }}" class="img-rounded" width="120" height="144" alt="{{ image.alt0 }}">
        </a><p></p>
          <select class="form-control" name="img2" id="img-location">
            <option>Primary Image</option>
            <option selected="selected">Alt-1/Back</option>
            <option>Alt-2/Side</option>
            <option>Alt-3</option>
            <option>Alt-4</option>
            <option>Alt-5</option>
          </select>
          <input type="radio" class="btn btn-primary btn-md" id="submit6">Confirm Changes &raquo;
      </div>
      {% endif %}

    {% if image.alt == 3 %}
      <div class="col-md-2">
        <h3 class="text-center">Alt-2/Side</h3>
        <a href="http://cdn.is.bluefly.com/mgen/Bluefly/altimage.ms?img={{ image.colorstyle }}_{{ image.alt0 }}.jpg&w=120&h=144">
            <img src="{{ image.get_absolute_url }}" class="img-rounded" width="120" height="144" alt="{{ image.alt0 }}">
        </a><p></p>
          <select class="form-control" name="img3" id="img-location">
            <option>Primary Image</option>
            <option>Alt-1/Back</option>
            <option selected="selected">Alt-2/Side</option>
            <option>Alt-3</option>
            <option>Alt-4</option>
            <option>Alt-5</option>
          </select>
          <button class="btn btn-primary btn-md" id="submit3">Submit Changes &raquo;</button>
      </div>
    {% endif %}

    {% if image.alt == 4 %}
      <div class="col-md-2">
        <h3 class="text-center">Alt-3&nbsp;</h3>
        <a href="http://cdn.is.bluefly.com/mgen/Bluefly/altimage.ms?img={{ image.colorstyle }}_{{ image.alt0 }}.jpg&w=120&h=144">
            <img src="{{ image.get_absolute_url }}" class="img-rounded" width="120" height="144" alt="{{ image.alt0 }}">
        </a><p></p>
        <select class="form-control" name="img4" id="img-location">
          <option>Primary Image</option>
          <option>Alt-1/Back</option>
          <option>Alt-2/Side</option>
          <option selected="selected">Alt-3</option>
          <option>Alt-4</option>
          <option>Alt-5</option>
        </select>
        <p></p>
          <button class="btn btn-primary btn-md" id="submit4">Submit Changes &raquo;</button>
      </div>
    {% endif %}

    {% if image.alt == 5 %}
      <div class="col-md-2">
        <h3 class="text-center">Alt-4&nbsp;</h3>
        <a href="http://cdn.is.bluefly.com/mgen/Bluefly/altimage.ms?img={{ image.colorstyle }}_{{ image.alt0 }}.jpg&w=120&h=144">
          <img src="{{ image.get_absolute_url }}" class="img-rounded" width="120" height="144" alt="{{ image.alt0 }}"></a>
        <p></p>
          <select class="form-control" name="img5" id="img-location">
            <option>Primary Image</option>
            <option>Alt-1/Back</option>
            <option>Alt-2/Side</option>
            <option>Alt-3</option>
            <option selected="selected">Alt-4</option>
            <option>Alt-5</option>
          </select>
          <button class="btn btn-primary btn-md" id="submit5">Submit Changes &raquo;</button>
      </div>
    {% endif %}

    {% if image.alt == 6 %}
      <div class="col-md-2">
        <h3 class="text-center">Alt-5&nbsp;</h3>
        <a href="http://cdn.is.bluefly.com/mgen/Bluefly/altimage.ms?img={{ image.colorstyle }}_{{ image.alt0 }}.jpg&w=120&h=144">
            <img src="{{ image.get_absolute_url }}" class="img-rounded" width="120" height="144" alt="{{ image.alt0 }}">
        </a><p></p>
          <select class="form-control" name="img6" id="img-location">
            <option>Primary Image</option>
            <option>Alt-1/Back</option>
            <option>Alt-2/Side</option>
            <option>Alt-3</option>
            <option>Alt-4</option>
            <option selected="selected">Alt-5</option>
          </select>
          <button class="btn btn-primary btn-md" id="submit6">Submit Changes &raquo;</button>
      </div>
    {% endif %}
</div>

{% endfor %}


{#{% else %}#}
{% block confirm %}
    <h3>Please Enter a Valid Style</h3>
{% endblock %}
{% comment %}{% endif %}{% endcomment %}
</div>
</div>

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
    $("button").click(function () {
        text = $(this).text();
        $("#resultsBasicTest").val(text);
    });
    window.alert(text)
});
</script>

{#    <script type="text/javascript" src="{{ STATIC_URL }}js/imgadjust.js"></script>#}
<script type="text/javascript">
// Make the request
$(document).ready(function() {
    $("button#submitSearchStyle").click(function () {
        {#    $("#input_list_form").submit(function () {#}
        var $inputQuery;
        inputQuery = $("#inputColorstyle").val();
        colorstyle = inputQuery.split('_')[0]
        alt = inputQuery.split('_')[1]
        $.get('/api/v1/supplier-ingest-images/' + inputQuery, function (data) {
            // data is the response data. In this case, our JSON
            // Our JSON contains several dictionaries for each breed of dog,
            // and we want to construct an HTML table row for each
            // First, lets get the table body which we'll add the rows to
            $tbody = $("#tableVendorName").find('tbody');
            // next, iterate through the JSON array
            $.each(data, function () {
                // create the row
                $row = $('<tr>');
                // iterate through each dog breed's attributes and create a column for each key, value pair
                $.each(this, function (key, value) {
                    // create the column
                    $col = $('<td>');
                    // add text to the column
                    $col.text(key + ":" + value);
                    // append the column to the row
                    $row.append($col);
                });
                // append the row to the table body
                $tbody.append($row);
            });
        });
        {#    });#}
    })
});
</script>

{% endblock %}

{% endblock %}