{% extends '_layouts/base.html' %} {# #}
{% block page_title %}
<title xmlns="http://www.w3.org/1999/html">Product Image Adjustments</title>
{% endblock %} 
{% comment %}
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<style type="text/css">
  body {
    padding-top: 50px;
    padding-bottom: 20px;
  }
</style>
{% endcomment %}
{% block content %}
<div class="container">
  
  <div class="row">
    <div class="col-md-5 col-md-pull-1">
      <form enctype="multipart/form-data" method="get" action="" id="formSearchStyle" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="inputColorstyle" id="inputColorstyle" placeholder="Search Colorstyle">
          <textarea class="form-control" name="inputColorstyle" id="inputColorstyleList" placeholder="Paste Multi-Delimited"></textarea>

          <p></p>
        </div>
        <button class="btn btn-default btn-sm" id="search" ><span class="glyphicon glyphicon-search"></span> SearchStyles</button>
        <button class="btn btn-warning btn-sm" id="submit" type="submit" ><span class="glyphicon glyphicon-search"></span> Submit Form</button>
      </form>
      <hr>
      <div id="searchResults"></div>
    </div>
  </div>



<script>
$('form #checkbox').is(':checked');

    var checkedValues = $('input:checkbox:checked').map(function() {
        return this.value;
}).get();
</script>

{% comment %}

<script>

    var supplierImageAPI = '/api/v1/supplier-ingest-images/';
    var jqxhr = $.ajax( supplierImageAPI )
  .done(function() {
    alert( "success" );
  })
  .fail(function() {
    alert( "error" );
  })
  .always(function() {
    alert( "complete" );
  });

// Perform other work here ...

// Set another completion function for the request above
jqxhr.always(function() {
  alert( "second complete" );
});
</script>

  $( "#other" ).click(function() {
  $( "#target" ).keypress();
});

{% endcomment %}

<script>

  $( ":submit" ).click(function() {
  var inputColorstyle = $( '#inputColorstyle' ).val();
  var inputAlt = inputColorstyle.split("_")[-1];
  $.getJSON( "/api/v1/supplier-ingest-images/", { colorstyle: inputColorstyle, alt: inputAlt })

  .done(function( json ) {
    console.log( "JSON Data: " + json.colorstyle[ 0 ] );
  })
  .fail(function( jqxhr, textStatus, error ) {
                  var err = textStatus + ", " + error;
                  console.log("Request Failed: " + err);
              })
  .always(function() {
  alert( "second complete" );
});
});
</script>

{% comment %}
  <script>
var allInputs = $( ":input" );
var formChildren = $( "form > *" );
$( "#messages" ).text( "Found " + allInputs.length + " inputs and the form has " +
  formChildren.length + " children." );

$( "form" ).submit(function( event ) {
  event.preventDefault();
});
  </script>
{% endcomment %}

<script>
(function() {
  var supplierImageAPI = "/api/v1/supplier-ingest-images/";
  $.getJSON( supplierImageAPI, {
    tags: "",
    tagmode: "any",
    format: "json",
    processDate: false
  })
    .done(function( data ) {
      $.each( data.items, function( i, item ) {
                                                {% comment %}$( "<img>" ).attr( "src", item.media.m ).appendTo( "#searchResults" );{% endcomment %}        
      $( "<img>" ).attr( "src", item.image_url).appendTo( "#searchResults" );
        if ( i === 6 ) {
          return false;
        }
      });
    });
})();
</script>

{#'image_url', 'bfly_local_src', 'bfly_zoom_src',  'bfly_list_site',#}
<script>
$("#formSearchStyle").submit(function() {
    var inputColorstyle = $( '#inputColorstyle' ).val();
    var inputAlt = inputColorstyle.split("_")[-1];
    var url = "/api/v1/supplier-ingest-images/";
    var res = {}
    $.ajax({
           type: "get",
           url: "/api/v1/supplier-ingest-images/",
           dataType: "json",
           data:  { colorstyle: inputColorstyle, alt: inputAlt },
           // $(inputColorstyle + "/" + inputAlt).serialize(), // serializes the form's elements.
           success: function(res) {
                    alert("Wow Lookie Here " + res); // show response from the python script.
                    }
         });

    return false; // avoid to execute the actual submit of the form.
});
</script>


{% comment %}{% if images %}{% endcomment %}
{% regroup images|dictsort:"file_name" by image as colorstyles %}

{%for image in colorstyles %}
 
  <div class="row">
    
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8 col-md-pull-1">
          <label for="action" class="control-label input-group">Action</label>
          <div class="btn-group btn-group-xs" data-toggle="buttons">
            <label class="btn active btn-primary">
              <input type="radio" name="action" value="keep">Keep Image</label>
            <label class="btn btn-primary">
              <input type="radio" name="action" value="switch">Switch Image Slot</label>
            <label class="btn btn-primary">
              <input type="radio" name="action" value="replace">Replace Image</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-2">
        <h3><i class="fa fa-star text-center">&nbsp;</i>Primary</h3>
        <img src="http://cdn.is.bluefly.com/mgen/Bluefly/prodImage.ms?productCode={{ q }}&width=251&height=300" class="img-rounded" width="120" height="144" alt="Primary">
        <p></p>
        <p>
          <select class="form-control" name="img1" id="img-location">
            <option selected="selected">Primary Image</option>
            <option>Alt-1/Back</option>
            <option>Alt-2/Side</option>
            <option>Alt-3</option>
            <option>Alt-4</option>
            <option>Alt-5</option>
          </select></p>
        <p><a class="btn btn-primary" href="#">Submit Changes &raquo;</a></p>
      </div>

      {% if image.alt == 2 %}
      <div class="col-md-2">
        <h3 class="text-center">Alt-1/Back</h3>
        <img href="http://cdn.is.bluefly.com/mgen/Bluefly/altimage.ms?img={{ image.colorstyle }}_{{ image.alt0 }}.jpg&w=120&h=144" src="{{ image.get_absolute_url }}" class="img-rounded" width="120" height="144" alt="{{ image.alt0 }}">
        <p></p>
        <p>
          <select class="form-control" name="img2" id="img-location">
            <option>Primary Image</option>
            <option selected="selected">Alt-1/Back</option>
            <option>Alt-2/Side</option>
            <option>Alt-3</option>
            <option>Alt-4</option>
            <option>Alt-5</option>
          </select></p>
        <p>
          <input type="radio" class="btn btn-primary btn-md" id="submit6">Confirm Changes &raquo;
        </p>
      </div>      </div>
      {% endif %}

      {% if image.alt == 3 %}
      <div class="col-md-2">
        <h3 class="text-center">Alt-2/Side</h3>
        <img href="http://cdn.is.bluefly.com/mgen/Bluefly/altimage.ms?img={{ image.colorstyle }}_{{ image.alt0 }}.jpg&w=120&h=144" src="{{ image.get_absolute_url }}" class="img-rounded" width="120" height="144" alt="{{ image.alt0 }}">
        <p></p>
        <p>
          <select class="form-control" name="img3" id="img-location">
            <option>Primary Image</option>
            <option>Alt-1/Back</option>
            <option selected="selected">Alt-2/Side</option>
            <option>Alt-3</option>
            <option>Alt-4</option>
            <option>Alt-5</option>
          </select></p>
        <p>
          <button class="btn btn-primary btn-md" id="submit3">Submit Changes &raquo;</button></p>
        </p>
      </div>      </div>
      {% endif %}

      {% if image.alt == 4 %}
      <div class="col-md-2">
        <h3 class="text-center">Alt-3&nbsp;</h3>
        <img href="http://cdn.is.bluefly.com/mgen/Bluefly/altimage.ms?img={{ image.colorstyle }}_{{ image.alt0 }}.jpg&w=120&h=144" src="{{ image.get_absolute_url }}" class="img-rounded" width="120" height="144" alt="{{ image.alt0 }}">
        <p></p>
        <p>
        <select class="form-control" name="img4" id="img-location">
          <option>Primary Image</option>
          <option>Alt-1/Back</option>
          <option>Alt-2/Side</option>
          <option selected="selected">Alt-3</option>
          <option>Alt-4</option>
          <option>Alt-5</option>
        </select></p>
        <p></p>
        <p>
          <button class="btn btn-primary btn-md" id="submit4">Submit Changes &raquo;</button></p>
        </p>
      </div>
      </div>
    {% endif %}

    {% if image.alt == 5 %}
      <div class="col-md-2">
        <h3 class="text-center">Alt-4&nbsp;</h3>
        <img href="http://cdn.is.bluefly.com/mgen/Bluefly/altimage.ms?img={{ image.colorstyle }}_{{ image.alt0 }}.jpg&w=120&h=144" src="{{ image.get_absolute_url }}" class="img-rounded" width="120" height="144" alt="{{ image.alt0 }}">
        <p></p>
        <p>
          <select class="form-control" name="img5" id="img-location">
            <option>Primary Image</option>
            <option>Alt-1/Back</option>
            <option>Alt-2/Side</option>
            <option>Alt-3</option>
            <option selected="selected">Alt-4</option>
            <option>Alt-5</option>
          </select></p>
        <p>
          <button class="btn btn-primary btn-md" id="submit5">Submit Changes &raquo;</button></p>
        </p>
      </div>
    {% endif %}

    {% if image.alt == 6 %}
      <div class="col-md-2">
        <h3 class="text-center">Alt-5&nbsp;</h3>
        <img href="http://cdn.is.bluefly.com/mgen/Bluefly/altimage.ms?img={{ image.colorstyle }}_{{ image.alt0 }}.jpg&w=120&h=144" src="{{ image.get_absolute_url }}" class="img-rounded" width="120" height="144" alt="{{ image.alt0 }}">
        <p></p>
        <p>
          <select class="form-control" name="img6" id="img-location">
            <option>Primary Image</option>
            <option>Alt-1/Back</option>
            <option>Alt-2/Side</option>
            <option>Alt-3</option>
            <option>Alt-4</option>
            <option selected="selected">Alt-5</option>
          </select></p>
        <p>
          <button class="btn btn-primary btn-md" id="submit6">Submit Changes &raquo;</button></p>
      </div>
    {% endif %}

    </div>
  </div>

{% endfor %}

{#{% else %}#}
{% block confirm %}
    <h3>Please Enter a Valid Style</h3>
{% endblock %}
{% comment %}{% endif %}{% endcomment %}

</div>
{% endblock %}
