{# extends "image_results.html" #}

{% comment %}
<h1>{{ image.file_path }}_H1MODAL</h1>
{% endcomment %}

<!-- Button trigger modal -->

{# <button class="btn btn-danger btn-mini" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-file"></span> Edit Metadata </button> #}
<!-- Modal -->

{% block metadata_modal_entry %}
<button class="btn btn-danger btn-mini" data-toggle="modal" data-target="#myModal{{ image.pk }}"><span class="glyphicon glyphicon-file"></span> Edit Metadata </button>

<div class="modal fade" id="myModal{{ image.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ image.pk }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel{{ image.pk }}">{{ image.file_path }}</h4>
            </div>
        <form enctype="multipart/form-data" action="metadata/edit/{{ image.pk }}/" method="post">

            <div class="container">
            <div class="row">
             <div class="col-md-12">
{% comment %}

            <form enctype="multipart/form-data" action="metadata/edit//{{ image.pk }}/{{ image.colorstyle }}/{{ image.alt }}/{{ image.shot_number }}/" method="post">


{% endcomment %}
                {% csrf_token %}
                <div class="row">
                <div class="col-md-6">
                <div class="modal-body">
                {# block modal_body %} {% endblock #}
                <p>Colorstyle:  {{ image.colorstyle }}</p>
                <p>PK:  <input type="text" id="imagepk" name="imagepk" value="{{ image.pk }}" /></p>
                <p>Alt Number:  <input type="text" name="alt" id="alt" value="{{ image.alt }}" /></p>
                <p>Shot Number: <input type="text" name="shot_number" id="shot_number" value="{{ image.shot_number }}" /></p>
                <p>Photo Date:  <input type="text" name="photo_date" id="photo_date" value="{{ image.photo_date }}" /></p>
                <p>Brand:  <input type="text" name="brand" id="brand" value="{{ image.styledata.brand }}" /></p>
                <p>Notes:  <input type="text" name="notes" id="notes" value="{{ image.notes.notes }}" /></p> 
                                <button type="submit" id="submit" name="submit" class="btn btn-primary">
                    Save changes
                </button>          
                </div>
                </div>
                <div class="col-md-6">
                <a href="{{ image.file_path }}"><img src="{{ image.file_path }}" class="img-rounded" style="width: 300px;" alt="{{ image.colorstyle }}"></a>
                 </div>
                 </div>
                 <div class="row">
                 <div class="col-md-12">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="submit" id="submit" name="submit" class="btn btn-primary">
                    Save changes
                </button>
            </div>
                   </div>
                 </div>
             </div>
             </div><!-- /.modal-fade -->
            </div><!-- /.row -->
      </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<!-- /.modal -->
</div><!-- /.row -->

{% endblock %}
{#</div><!-- /.container -->#}
{% comment %}<ul>
{% for colorstyledata in image.styledata.all %}
   <li>{{ colorstyledata.brand }}<br/>
       {{ colorstyledata.po_number }} {{ colorstyledata.vendor_number }}<br/>
       {{ colorstyledata.category }}
   </li>
{% endfor %}
</ul>{% endcomment %}
{# endblock #}