{% extends "base/jbhome.html" %}

{% block content %}
{% load crispy_forms_tags %}



<div id="results">
{% crispy form %}
</div>


<div id="resultsModal">
{% if form %}
<div class="col-sm-3 col-md-3">
    <!-- Button trigger modal -->
<button class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">SearchParams</button>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<form id="{{ form.id }}" role="form" class="small" name="{{ form.name }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <a><h3 class="modal-title" id="myModalLabel" style="font-family: DejaVu Serif, serif">
        <span class="glyphicon glyphicon-magnet"></span>{{ form.colorstyle }}</h3></a>
      </div>
      <div class="modal-body">
       {% crispy form %}
          <button type="submit" class="btn btn-primary" name="submit" id="submit">
          <span class="glyphicon glyphicon-search"></span> Search</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="button" class="btn btn-primary" value="Send" id="send">
      </div>
    </div>
  </div>
</form>
</div>
</div>
{% endif %}
</div>
<script>
$(document).ready(function () {
    $('button#send').click(function(e){
        e.preventDefault();
        data = {
           "colorstyle": $('#id_colorstyle').val(),
           "alt": $('#id_alt').val(),
           "po_number": $('#id_po_number').val(),
           "vendor_name": $('#id_vendor_name').val(),
           "vendor_brand": $('#id_vendor_brand').val(),
           "vendor_style": $('#id_vendor_style').val(),
           "modified_dt": $('#id_modified_dt').val(),
           "image_url": $('#id_image_url').val(),
           "version": $('#id_version').val(),
           "bfly_product_path": $('#id_bfly_product_path').val()
        };
        $.ajax({
            type: "POST",
            url: "http://prodimages.ny.bluefly.com/api/v1/supplier-ingest/",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json",
            success: function(data) {console.log(data)},
            error: function (rs, e) {console.debug(rs)}
        });
    });
});

</script>
<script type="text/javascript">
    $(document).ready(function () {
    //$("#id-supplierIngestForm").submit(function () {
          $(':submit').on('click', function() {
            var colorstyle = $('#id_colorstyle').val();
            var alt = $('#id_alt').val(); //colorstyle.split("_")[-1];
            var url = "http://prodimages.ny.bluefly.com/api/v1/supplier-ingest/";
            var res = {};
            var data = JSON.stringify({colorstyle: colorstyle, alt: alt});
            $.ajax({
                type: "post",
                url: url + colorstyle +'/',
                //url: "http://prodimages.ny.bluefly.com/api/v1/supplier-ingest/",
                contentType: "application/json",
                data:  data,
                //data: 'button=' + $(this).val(), // Send value of the clicked button
                dataType: 'json', // Choosing a JSON datatype
                success: function(data) {   // Variable data contains the data we get from serverside
                  $('#resultsModal').html(JSON.parse(data)); // Clear #image_download_valid div // show response from the python script.
                }
            });

            return false; // avoid to execute the actual submit of the form.
        });
});

</script>


{% endblock %}