{% extends "base/jbhome.html" %}

{% block content %}
{% load crispy_forms_tags %}
{% crispy formset %}


<div id="results"></div>


<script type="text/javascript">
    $(document).ready(function () {
    //$("#id-supplierIngestForm").submit(function () {
          $(':submit').on('click', function() {
            var colorstyle = $('#id_colorstyle').val();
            var alt = $('#id_alt').val(); //colorstyle.split("_")[-1];
            var url = "http://prodimages.ny.bluefly.com/api/v1/supplier-ingest/";
            var res = {};
            var data = $(':input').val();
            $.ajax({
                type: "GET",
                url: url + '/' + colorstyle +'/',
                //url: "http://prodimages.ny.bluefly.com/api/v1/supplier-ingest/",
                contentType: "application/json",
                data:  JSON.stringify({colorstyle: colorstyle, alt: alt}),
                //data: 'button=' + $(this).val(), // Send value of the clicked button
                dataType: 'json', // Choosing a JSON datatype
                success: function(data) // Variable data contains the data we get from serverside
                {
                  $('#results').append(JSON.parse(dataobjects)); // Clear #image_download_valid div // show response from the python script.
                }
            });

            return false; // avoid to execute the actual submit of the form.
        });
});

</script>
{% endblock %}